.video-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.play-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 50%;
  opacity: 0.5;
  animation: ripple 1.5s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.play-button {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.play-icon {
  width: 0;
  height: 0;
  border-left: 20px solid orange;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: 5px;
  /* centers triangle */
}

.overlay-active {
  position: fixed;
  inset: 0;
  background: var(--modalBgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

}



.video-wrapper {
  width: 560px;
  height: 315px;
  position: relative;
  z-index: 10;
}

.slide-up {
  animation: slideUp 0.6s ease-in-out forwards;
  transform: scale(1);
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
