.featured-car-card{
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    cursor:pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

} 
.img-container{
    overflow:hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.featured-car-image {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition:transform 0.4s ease-in-out;
  
}

.featured-car-card:hover img{
    transform:scale(1.1);
}


.featured-car-content {
  padding: 1.3rem;
 
}
.featured-title-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.featured-car-title {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration:underline;
  margin: 0;
  
}

.featured-car-rating {
  background: #f9f9f9;
  color: #111;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.9rem;
}

.featured-car-description {
  font-size: 1rem;
  color: #444;
  margin: 12px 0;
}

.featured-car-details {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #222;
 
}
.featured-car-details p{
   display:flex;
  align-items:center;
  gap:0.5rem;
  margin-bottom:0.5rem;
}
.featured-car-details p:last-child{
  margin:0;
}

@media(max-width:1024px){
  .featured-car-content{
    padding:1.2rem;
  }
}