
.home-hero {
  min-height: fit-content;
  background: url("../../assets/images/home-bg.jpg") no-repeat  center/cover;
}

  .slide-container{
    display:flex;
    justify-content:space-between;
    height:100vh;
    
}
.text-container{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:1rem;
    padding:0rem 0rem 1rem 4rem;
    opacity: 0;
    transform: translateX(-1000px);
    transition: opacity 3s ease, transform 0.8s ease;
    
  }


/* When active slide(.swiper-slide-active automatically applies on SwiperSlide component)*/
.swiper-slide-active .text-container {
  opacity: 1;
  transform: translateX(0px);
}
  .text-container h5{
  display: inline-block;
  width: fit-content;
  color: var(--primaryColor);
  background: #fff;
  letter-spacing: 1px;
  padding: 0.4rem 1rem;
  border-radius: 25px;

  }
  .text-container h1{
    font-size:3rem;
  }

  .text-container p{
    font-size:1.3rem;
    line-height:1.8rem;
   
  }
  .in-touch-btn{
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  width:35%;
  background: #111;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;

  }
  .in-touch-btn:hover{
    background: #333;
  }

  .home-hero .image-container{
   
    width:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;

  }
  .home-hero .white-shadow{
    display:flex;
    align-items:center;
    height:75%;
    width:75%;
    border-radius: 50%;
    background:#e0eff1;
    
}
.white-shadow img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit:contain;
    max-width: 100%;   
    max-height: 100%;
    
  }
  @media (max-width: 1024px) {
  .text-container h1 {
    font-size: 2.2rem;
  }
  .text-container p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .in-touch-btn{
    width:50%;
  }
}


@media (max-width: 767px) {
  .slide-container {
    flex-direction: column; 
    align-items: center;
    height: auto;
    padding: 4rem 1rem;
    text-align: center;
  }

  .text-container {
    width: 100%;
    padding-left: 0;
    gap:1.5rem;
    align-items: center;
  }

  .in-touch-btn {
    width: auto;
    padding: 10px 18px;
    font-size: 1.1rem;
  }

  .home-hero .image-container {
    height:80vh;
    width: 100%;
    margin-top: 2rem;
  }

  .home-hero .white-shadow {
    height: 80%;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .text-container h1 {
    font-size: 1.6rem;
  }
  .text-container p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .home-hero .image-container {
    height:60vh;
    margin-top:1rem;
    
  }
  .home-hero .white-shadow {
    height: 70%;
    width: 70%;
  }
  .white-shadow img{
    width:80%;
  }
}
@media(max-width:380px){
  .home-hero .white-shadow {
    height: 60%;
    width: 60%;
  }
  
}

@media(min-height:900px) {
.home-hero{
  max-height:50vh;
}
.slide-container{
  height:50vh;
}
}

/* Brand Logo Section */

.home-brands-section {
  padding: 5rem ;
}
.background{
  background:#f9f9f9;
  
}

.home-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.home-brands-tag {
  display: inline-block;
  width: fit-content;
  color: var(--primaryColor);
  background: #f9f9f9;
  letter-spacing: 1px;
  padding: 0.4rem 1rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}
.background-white{
  background:#fff;
}
.home-brands-title {
 font-size: 3rem;
  font-weight: 500;
}

.home-brands-btn {
  border: 1px solid black;
  color:#fff;
  background: #111;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.home-brands-btn:hover {
  background: #333;
  color: white;
}

.home-brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

/* +++++++++ Card css from Card component ++++++ */

@media(max-width:768px){
    .home-brands-section{
        padding:4.5rem 3.5rem;
    }
}
@media(max-width:600px){
    .home-brands-section{
        padding:4.5rem 3rem;
    }
    .home-brands-header {
      text-align:center;
      width:100%;
    }
    .home-brands-tag{
        margin-bottom: 1.5rem; 
    }
    .home-brands-btn{
        display:inline-block;
        width:fit-content;
        margin:0 auto;
    }
    
}
@media(max-width:480px){
    .home-brands-section{
        padding:3rem 1.5rem;
    }
    .home-brands-title{
        font-size:2.5rem;
    }
   
}

/*************** Feature Section ********/
.home-feature-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
  
.home-feature-left {
  max-width: 400px;
  height:fit-content;
  align-self: self-start;
}

.home-feature-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  align-self:self-end;
}
  

.home-feature-card {
  
  border: 1px solid #eee;
  border-radius: 12px;
  padding:  2.5rem;
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.home-feature-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.home-feature-icon {
  font-size: 2rem;
  border: 1px solid var(--primaryColor);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.home-feature-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-feature-card p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
  .home-feature-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home-feature-left {
    margin-bottom: 2rem;
    max-width: 100%;
  }

  .home-feature-right {
    grid-template-columns: 1fr;
  }
  .home-feature-icon{
    margin: 0 auto 2rem;
  }
}

/********* Car Swiper Section**** */
.swiper-section{
  padding: 3rem 0rem;
}
.car-card{
  cursor:pointer;
  transition: transform 5s ease-out;
}

.car-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  position:relative;
}
  
.car-card:hover img {
  transform: rotate3d(1,0,1,1turn);

  /* transform: rotate3d(0,0,1,360deg); */

}
  


/****** Featured Car Section ******* */
.featured-car-section{
  background:#f9f9f9;
}
.featured-wrapper{
  text-align:center;
}

.car-swiper{
  margin-top:3rem;
  min-height:500px;
  
}
/* Rest css from CarCard component */

/************* Video Section css from Video.css************ */

/* News Section */

.news-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:2.5rem;
}
.news-card{
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  overflow:hidden;
}
.news-img-container{
  overflow:hidden;
  border-radius:12px;
  height:200px;
  width:100%;

}
 .news-img-container img{
  height:100%;
  width:100%;
  object-fit:cover;
  border-radius:12px;
  transition: all 0.3s ease-out;
}
.news-card:hover img{
  cursor:pointer;
  transform:scale(1.1);
}

.tag-date-container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5rem;
  padding: 0.5rem 0;
  font-size:0.8rem;
}
.news-tag{
  padding: 5px 12px;
  border-radius:20px;
  background:#f9f9f9;
  border: 1px solid #f6f6f6;
  font-weight:500;
  color:var(--primaryColor);
}
.news-date{
  display:inline-flex;
  align-items:center;
  gap:5%;
  font-size:0.9rem;
  font-weight:500;
  color:#444;
}
.news-link{
  font-size:1.3rem;
  color:#111;
  font-weight:500;
  padding-bottom:0.5rem;
  transition:all 0.3s ease-out;
}
.news-link:hover{
color:var(--hoverPrimaryColor);
text-decoration:none;
}

@media(max-width:641px){
  .news-grid{
    gap:50px;
  }
}